---
import { ICONS } from "../config/globalStyles";

// Import COMPONENTS
import SectionContainer from "../components/structuresContainer/SectionContainer.astro";
import GridContainer from "../components/structuresContainer/GridContainer.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import TechnologyJob from "../components/TechnologyJob.astro";
import HeaderTitle from "../components/ui/text/HeaderTitle.astro";
import Layout from "../layouts/Layout.astro";
import ContactItems from "../components/contact/AnimatedList";
import Biography from "../components/Biography.astro";

// Import SVG
import Briefcase from "../components/ui/svg/Briefcase.astro";
import CodeBracket from "../components/ui/svg/CodeBracket.astro";
import Technology from "../components/ui/svg/Technology.astro";
import Person from "../components/ui/svg/Person.astro";

// Import DATA
import userData from "../constants/userData";
import biographyData from "../constants/biographyData";
import myProfile from "../assets/70yEMo8MP2gwJJDC1F01.webp";

const INFO_LAYOUT = {
	title: "Juan J. Coppede - Software Developer.",
	description: "Desarrollando aplicaciones web eficientes y escalables",
};

const SECTION_IDS = {
	aboutMe: "about-me",
	experience: "experience",
	projects: "projects",
	technology: "technology",
	contact: "contact",
};

const SECTION_TITLES = {
	titleMain: "Juan José Coppede",
	titleExperience: "Experiencia laboral",
	titleProjects: "Mis proyectos",
	titleTechnology: "Tecnologías y habilidades",
	titleContact: "¿Cómo encontrarme?",
};
---

<Layout title={INFO_LAYOUT.title} description={INFO_LAYOUT.description}>
	<main>
		<SectionContainer id={SECTION_IDS.aboutMe}>
			<GridContainer>
				<Biography
					title={SECTION_TITLES.titleMain}
					paragraph={biographyData[0].paragraph}
					imageSrc={myProfile}
				/>
			</GridContainer>
		</SectionContainer>

		<SectionContainer id={SECTION_IDS.experience}>
			<GridContainer>
				<HeaderTitle title={SECTION_TITLES.titleExperience}>
					<Briefcase slot="icon" class=`${ICONS.ICON_SIZE}` />
				</HeaderTitle>

				<Experience />
			</GridContainer>
		</SectionContainer>

		<SectionContainer id={SECTION_IDS.projects}>
			<GridContainer>
				<HeaderTitle title={SECTION_TITLES.titleProjects}>
					<CodeBracket slot="icon" class=`${ICONS.ICON_SIZE}` />
				</HeaderTitle>

				<Projects />
			</GridContainer>
		</SectionContainer>

		<SectionContainer id={SECTION_IDS.technology}>
			<GridContainer>
				<HeaderTitle title={SECTION_TITLES.titleTechnology}>
					<Technology slot="icon" class=`${ICONS.ICON_SIZE}` />
				</HeaderTitle>

				<TechnologyJob />
			</GridContainer>
		</SectionContainer>

		<SectionContainer id={SECTION_IDS.contact}>
			<GridContainer>
				<HeaderTitle title={SECTION_TITLES.titleContact}>
					<Person slot="icon" class=`${ICONS.ICON_SIZE}` />
				</HeaderTitle>

				<ContactItems client:visible items={userData} />					
			</GridContainer>
		</SectionContainer>
	</main>
</Layout>
